

.game_menu
{
	width: 600;
	height: 700;
	background-color: MediumSeaGreen;
	float: right;
}

.header
{
	width: 600;
	height: 50;
}

.exit
{
	float: right;
	margin: 15;
	width: 60;
	height: 30;
}

.objects_field
{
	width: 600;
}

.container
{
	width: 400;
	height: 200;
	background-color: SeaGreen;
	float: left;
}

.info
{
	float: right;
	width: 150;
	height: 200;
}

.button
{
	width: 150;
}



